@model Clinica_App.Models.DTOs.RegisterUserDto

<h2>Register</h2>

@using (Html.BeginForm("Register", "Auth", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div>
        @Html.LabelFor(m => m.username)
        @Html.TextBoxFor(m => m.username, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })
    </div>

    <div>
        @Html.LabelFor(m => m.password)
        @Html.PasswordFor(m => m.password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
    </div>

    <div>
        @Html.LabelFor(m => m.email)
        @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
    </div>

    <div>
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
}
